Source: berb-github-repo-mgr
Maintainer: Berbascum <berbascum@ticv.org>
Section: misc
Priority: optional
Build-Depends: debhelper (>= 10),
               dh-python,
               python3
Standards-Version: 0.0.2
Vcs-Browser: https://github.com/berbascum/berb-github-repo-mgr
Vcs-Git: https://github.com/berbascum/berb-github-repo-mgr.git

Package: berb-github-repo-mgr
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         releng-tools (>= 4.5),
	 vim,
	 gawk,
         python3-git,
         git,
         git-lfs,
         findutils,
         equivs,
         devscripts
Description: Tool in bash script to automate some operations on local git and remote github repos from linux command line.
 This package contains a bash script with various functions to automate operations
 such "pull" "push" "comit-all"....
